[submodule "KISS-Matcher"]
	path = KISS-Matcher
	url = https://github.com/GreedlyCore/KISS-Matcher.git
[submodule "third_party/igraph"]
	path = third_party/igraph
	url = https://github.com/igraph/igraph.git
[submodule "Quatro"]
	path = Quatro
	url = https://github.com/GreedlyCore/Quatro.git
[submodule "GMOR"]
	path = GMOR
	url = https://github.com/GreedlyCore/GMOR.git
	branch = my-changes
