
.claude


# could be dataset data or symlinks that transfer to it
data/
logs/
utils/
results/
eval/__pycache__/*
visualize/__pycache__/*
plot/__pycache__/*
imgui.ini

# your locally installed python env
.venv2/

MAC/src/build
MAC/src/build_pybind
TEASER-plusplus/
eval/*.so

*.md